/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
    list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями
 */
img {
    display: block;
    max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
    scroll-behavior: smooth;
}

body {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    min-height: 100%;
    /**
      Унифицированный интерлиньяж
     */
    line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
    transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/* глобальна css перемінна */
:root {
    --color-dark: #2A2D36;
    --color-light: #E3D9CF;

    --border-radius: 8px;
    --border: 1px solid var(--color-dark);

    --font-family-base: 'Open Sans', sans-serif;

    --input-height: 50px;

    --container-width: 1300px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;
}
body{
    font-family: var(--font-family-base);
    color: var(--color-light);
    font-size: 16px;
    line-height: 1.75;
    background: no-repeat center url('../img/hotel1.png');
    background-position: left top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-light);
}

a {
    color: var(--color-dark)
}
.header-menu-link:hover {
    border-bottom: 2px solid black;
}
.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    /*text-transform: uppercase;*/
}
.button {
    width: 120px;
    color: var(--color-light);
    display: inline-flex;
    align-items: center;
    /*padding-inline: 5px;*/
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    line-height: 2.2;
    background-color: var(--color-dark);
    border: none;
    /*border-radius: var(--border-radius);*/
    transition: all .55s ease;
    text-decoration: none;
}
.button:hover {
    background-color: var(--color-light);
    border: var(--border);
    color: var(--color-dark);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding-inline: 150px;
    background-color: rgba(227,217,207,50%);
    backdrop-filter: blur(20px);
    z-index: 1000;
}
.header-logo {
    flex-shrink: 0;
}
.navlist.open{
    right: 0;
}
.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 78px;
}
.header-menu-link {
    display: inline-flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.header-actions {
    display: flex;
    column-gap: 40px;
}
.section-first {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 50px);
    /*min-height: 100vh;*/
    position: relative;
    /*display: grid;*/
    /*grid-template-columns: repeat(2, 1fr);*/
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center;
    padding-inline: 150px;
    padding-top: 50px;
    gap: 2rem;
}
.section-about {
    width: 920px;
    height: auto;
    padding-inline: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    /*border-radius: 30px;*/
    background-color: rgba(42, 45, 54, 0.56);
    backdrop-filter: blur(20px);
}
.section-main-first-text{
    /*padding-inline: 15px;*/
    /*padding-top: 60px;*/
    /*line-height: 81.6px;*/
    /*font-size: 70px;*/
}
.section-main-second-text {
    /*padding-inline: 15px;*/
    /*padding-top: 10px;*/
    /*line-height: 32.4px;*/
    /*font-size: 20px;*/
    font-weight: 500;
}
.section-button{
    width: 150px;
    height: 50px;
    text-align: center;
    display: flex; /* Добавляем flex контейнер для выравнивания по центру */
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
}
.section-first-button{
    width: 150px;
    height: 50px;
    color: var(--color-light);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-inline: 20px;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    line-height: 2;
    background-color: var(--color-dark);
    border: none;
    /*border-radius: var(--border-radius);*/
    transition: all .55s ease;
    text-decoration: none;
}
.section-first-button:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
    border: var(--border);
}
.second {
    display: flex;
    width: 100%;
    height: calc(100vh - 50px);
    /*min-height: 100vh;*/
    position: relative;
    /*display: grid;*/
    /*grid-template-columns: repeat(2, 1fr);*/
    justify-content: center;
    /*align-items: center;*/
    padding-inline: 150px;
    gap: 2rem;
    background-color: var(--color-light);
    color: var(--color-dark);
}
.second-text {
    padding-top: 40px;
}
.main-second-text {
    text-align: center;
    font-size: 70px;
}
input {
    background-color: var(--color-light);
    color: var(--color-dark);
    border: none;
    height: 32px;
}
textarea{
    background-color: var(--color-light);
    color: var(--color-dark);
    height: 307px;
    justify-content: unset;
    align-items: unset;
    resize: none;
    margin-bottom: 32px;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    /*padding-inline: 120px;*/
    /*padding-top: 52px;*/
}

.input-wrapper label {
    font-size: 16px;
    margin-right: auto;
}
.user-message{
    height: auto;
    min-height: 200px;
}
.submit {
    width: 100%;
    height: 50px;
    color: var(--color-light);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /*padding-inline: 20px;*/
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    line-height: 2;
    background-color: var(--color-dark);
    border: none;
    /*border-radius: var(--border-radius);*/
    transition: all .55s ease;
    text-decoration: none;
}
.submit:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
    border: var(--border);
}
label{
    display: flex;
    align-items: center;
    font-size: 16px;
}
.input-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0px; /* Расстояние между input элементами */
}
.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.footer {
    width: 100%;
    height: 50px;
    /*position: absolute;*/
    background-color: var(--color-dark);
    padding-inline: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text {
    display: flex;
    /*justify-content: flex-end;*/
    align-items: center;
}
.footer-rights {
    /*font-size: 16px;*/
    /*font-weight: 500;*/
}
.footer-menu-icons-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
}
.footer-menu-item{
    display: inline-flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.footer-menu-item img {
    width: 24px;
    height: 24px;
}
/*---Настільні комп'ютери та ноутбуки---*/
@media (max-width: 1280px){
    .section-about {
        width: 562px;
        /*height: 554px;*/
        /*border-radius: 12px;*/
    }
 /*   .section-first{
        padding-top: 80px;
    }*/
    .section-main-first-text{
        /*padding-inline: 15px;*/
        /*padding-top: 40px;*/
        /*line-height: 46px;*/
        /*font-size: 28px;*/
    }
    .section-main-second-text {
        /*padding-inline: 15px;*/
        /*line-height: 20px;
        font-size: 15px;*/
    }
    .input-wrapper {
        /*padding-top: 0px;*/
        /*padding-inline: 20px;*/
    }
    .input-row {
        display: flex;
        flex-wrap: wrap;
        gap: 0px; /* Расстояние между input элементами */
    }
    .input-group {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    textarea{
        height: 180px;
    }
}
@media (max-width: 1024px) {
    .header {
        flex-wrap: wrap;
        row-gap: 10px;
        padding-inline: 50px;
    }
    .header-menu-list {
        column-gap: 34px;
    }
   /* .section-about {
        width: 562px;
        height: 554px;
        border-radius: 18px;
    }*/
   /* .section-first{
        padding-top: 80px;
    }*/
   /* .section-main-first-text{
        padding-inline: 15px;
        padding-top: 40px;
        line-height: 46px;
        font-size: 40px;
    }*/
   /* .section-main-second-text {
        padding-inline: 15px;
        padding-top: 50px;
        line-height: 20px;
        font-size: 15px;
    }*/
   /* .input-wrapper {
        padding-top: 0px;
        padding-inline: 15px;
    }*/
    textarea{
        height: 140px;
    }
    .footer{
        padding-inline: 50px;
    }
    .footer-text{
        justify-content: unset;
    }
}
@media (max-width: 768px) {
    .header {
        flex-wrap: wrap;
        row-gap: 10px;
        padding-top: 20px;
        padding-inline: 15px;
    }
    .header-menu {
        order: 1;
        flex-basis: 100%;
    }
    .header-menu-list {
        column-gap: 54px;
        justify-content: center;
    }
    /*.button {
        padding-inline: 9px;
        font-size: 17px;
    }
    .section-about {
        width: 426px;
        height: 548px;
        border-radius: 18px;
    }
    .section-first{
        justify-content: center;
    }*/
    /*.section-main-first-text{
        padding-inline: 9px;
        padding-top: 25px;
        !*line-height: 26px;*!
        !*font-size: 24px;*!
    }
    .section-main-second-text {
        padding-inline: 9px;
        padding-top: 25px;
        !*line-height: 20px;*!
        !*font-size: 9px;*!
    }*/
    .section-first-button{
        padding-top: 0px;
        width: 224px;
        height: 69px;
        font-size: 20px;
        border-radius: 14px;
    }
    textarea{
        height: 180px;
    }
  /*  .submit{
        font-size: 18px;
    }*/
    .footer{
        padding-inline: 15px;
    }
}
@media (max-width: 667px) {
    .header-menu-list {
        column-gap: 44px;
    }
    .header-menu-link {
        height: 40px;
        font-size: 14px;
        color: var(--color-dark);
    }
    /*.button {
        padding-inline: 9px;
        font-size: 14px;
        width: 100px;
    }*/
    .section-about {
        /*width: 426px;*/
        /*height: 180px;*/
        /*border-radius: 10px;*/
    }
    .section-first{
        padding-top: 0px;
        padding-inline: 15px;
        height: 800px;
    }
    .section-main-first-text{
        display: flex;
        /*padding-inline: 15px;*/
        /*padding-top: 10px;*/
        /*line-height: 20px;*/
        /*font-size: 14px;*/
        justify-content: flex-start;
    }
    .section-main-second-text {
        /*padding-inline: 9px;*/
        /*padding-top: 15px;*/
        /*line-height: 15px;*/
        /*font-size: 6px;*/
        display: none;
    }
   /* .input-wrapper{
        gap: 10px;
    }*/
    /*.input-row {
        display: flex;
        flex-wrap: wrap;
        gap: 5px; !* Расстояние между input элементами *!
        width: 100%;
    }*/

    /*.input-group {
        display: flex;
        flex-direction: column; !* Располагает label и input вертикально *!
        flex: 1;
    }*/

    /*label{
        height: 20px;
        display: flex;
        align-items: center;
        font-size: 2em;
    }*/
    /*input {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        background-color: var(--color-light);
        color: var(--color-dark);
        border: none;
        height: 20px;
    }*/
    /*textarea{
        height: 70px;
        margin-bottom: 0px;
    }*/
    /*.submit{
        margin-top: 23px;
        width: 88px;
        height: 29px;
        font-size: 14px;
        border-radius: 6px;
    }*/
}
@media (max-width: 375px){
    .header-menu-list {
        column-gap: 44px;
    }
    .header-menu-link {
        height: 40px;
        font-size: 14px;
        color: var(--color-dark);
    }
    .button {
        padding-inline: 9px;
        font-size: 14px;
        width: 100px;
    }
    .section-about {
        width: 100%;
        padding-inline: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        /*height: 265px;*/
        /*border-radius: 10px;*/
    }
    .section-first{
        /*padding-top: 35px;*/
    }
    .section-main-first-text{
        display: flex;
        /*padding-inline: 15px;*/
        /*padding-top: 10px;*/
        /*line-height: 20px;*/
        /*font-size: 14px;*/
        justify-content: center;
    }
    .section-main-second-text {
        /*padding-inline: 9px;*/
        /*padding-top: 15px;*/
        /*line-height: 15px;*/
        /*font-size: 6px;*/
        display: none;
    }
    .footer-rights{
        font-size: 12px;
    }
   /* .input-row {
        display: flex;
        flex-wrap: wrap;
        gap: 0px; !* Расстояние между input элементами *!
    }*/
   /* .input-group {
        display: flex;
        flex-direction: column;
        width: 100%;
    }*/

   /* label{
        height: 20px;
        display: flex;
        align-items: center;
        font-size: 2em;
    }*/
    /*input {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        background-color: var(--color-light);
        color: var(--color-dark);
        border: none;
        height: 20px;
    }*/
    textarea{
        height: 120px;
        /*margin-bottom: 0px;*/
    }
    /*.submit{
        margin-top: 23px;
        width: 88px;
        height: 29px;
        !*font-size: 12px;*!
        !*border-radius: 6px;*!
    }*/
    /*.footer-menu-item img {*/
    /*    width: 18px;*/
    /*    height: 18px;*/
    /*}*/
    /*.footer-rights {*/
    /*    font-size: 9px;*/
    /*}*/
}
/*@media (max-width: 1130px) {
    .section-main-first-text{
        padding-inline: 15px;
        padding-top: 60px;
        line-height: 81.6px;
        font-size: 64px;
    }
    .section-main-second-text {
        padding-inline: 15px;
        padding-top: 34px;
        line-height: 32.4px;
        font-size: 18px;
        font-weight: 400;
    }
}
@media (max-width: 1046px) {
    .section-main-first-text{
        padding-inline: 15px;
        padding-top: 60px;
        line-height: 81.6px;
        font-size: 54px;
    }
}
@media (max-width: 934px) {
    .section-about {
        width: 832px;
        height: 380px;
        text-align: center;
        border-radius: 30px;
    }
    .section-main-first-text{
        padding-inline: 15px;
        padding-top: 40px;
        line-height: 61.6px;
        font-size: 48px;
    }
    .section-main-second-text {
        padding-inline: 15px;
        padding-top: 34px;
        line-height: 32.4px;
        font-size: 14px;
        font-weight: 400;
    }
}
@media (max-width: 867px) {
    .section-about {
        width: 832px;
        height: 380px;
        text-align: center;
        border-radius: 30px;
        background-color: rgba(42, 45, 54, 0.56);
        backdrop-filter: blur(20px);
    }
    .section-main-first-text{
        padding-inline: 15px;
        padding-top: 40px;
        line-height: 61.6px;
        font-size: 41px;
    }
}
@media (max-width: 796px) {
    .section-about {
        width: 832px;
        height: 280px;
        text-align: center;
        border-radius: 30px;
    }
    .section-main-first-text{
        padding-inline: 15px;
        padding-top: 30px;
        line-height: 46px;
        font-size: 35px;
    }
    .section-main-second-text {
        padding-inline: 15px;
        padding-top: 20px;
        line-height: 32.4px;
        font-size: 12px;
        font-weight: 400;
    }
}
@media (max-width: 730px) {
    .section-first {
        align-items: unset;
        padding-top: 160px;
    }
    .section-about {
        width: 400px;
        height: 240px;
        text-align: center;
        border-radius: 14px;
    }
    .section-main-first-text{
        padding-inline: 15px;
        padding-top: 30px;
        line-height: 36px;
        font-size: 32px;
    }
    .section-main-second-text {
        padding-inline: 15px;
        padding-top: 20px;
        line-height: 22.4px;
        font-size: 11px;
        font-weight: 400;
    }
}*/
