/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
    list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями
 */
img {
    display: block;
    max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
    scroll-behavior: smooth;
}

body {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    min-height: 100%;
    /**
      Унифицированный интерлиньяж
     */
    line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
    transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/* глобальна css перемінна */
:root {
    --color-dark: #2A2D36;
    --color-light: #E3D9CF;

    --border-radius: 8px;
    --border: 1px solid var(--color-dark);

    --font-family-base: 'Open Sans', sans-serif;

    --input-height: 50px;

    --container-width: 1300px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;
}
body{
    font-family: var(--font-family-base);
    color: var(--color-light);
    font-size: 16px;
    line-height: 1.75;
    background: no-repeat center url('../img/hotel1.png');
    background-position: left top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-light);
}

a {
    color: var(--color-dark)
}
.header-menu-link:hover {
    border-bottom: 2px solid var(--color-dark);
}
.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    /*text-transform: uppercase;*/
}
.button {
    width: 120px;
    color: var(--color-light);
    display: inline-flex;
    align-items: center;
    /*padding-inline: 5px;*/
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    line-height: 2.2;
    background-color: var(--color-dark);
    border: none;
    /*border-radius: var(--border-radius);*/
    transition: all .55s ease;
    text-decoration: none;
}
.button:hover {
    background-color: var(--color-light);
    border: var(--border);
    color: var(--color-dark);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding-inline: 150px;
    background-color: rgba(227,217,207,50%);
    backdrop-filter: blur(20px);
    z-index: 1000;
}
.header-logo {
    flex-shrink: 0;
}
.navlist.open{
    right: 0;
}
.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 78px;
}
.header-menu-link {
    display: inline-flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.header-menu a {
    color: var(--color-dark);
}
.header-actions {
    display: flex;
    column-gap: 40px;
}
.section-first {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*height: calc(100vh - 50px);*/
    height: 100vh;
    /*min-height: 100vh;*/
    position: relative;
    /*display: grid;*/
    /*grid-template-columns: repeat(2, 1fr);*/
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center;
    padding-inline: 150px;
    padding-top: 50px;
    gap: 2rem;
}
.section-main-text {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    height: 200px;
    text-align: center;
    justify-content: center;
    /*border-radius: var(--border-radius);*/
    background-color: rgba(42, 45, 54, 0.56);
    backdrop-filter: blur(20px);
}
.section-main-first-text{
    padding-inline: 15px;
    /*padding-top: 60px;*/
    /*line-height: 81.6px;*/
    /*font-size: 70px;*/
}
.section-main-second-text {
    padding-inline: 15px;
    /*padding-top: 34px;*/
    line-height: 32.4px;
    /*font-size: 24px;*/
    font-weight: 500;
}
.section-button{
    width: 150px;
    height: 50px;
    text-align: center;
    display: flex; /* Добавляем flex контейнер для выравнивания по центру */
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
}
.section-first-button{
    width: 150px;
    height: 50px;
    color: var(--color-light);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-inline: 20px;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    line-height: 2;
    background-color: var(--color-dark);
    border: none;
    /*border-radius: var(--border-radius);*/
    transition: all .55s ease;
    text-decoration: none;
}
.section-first-button:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
    border: var(--border);
}
.second {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 50px);
    /*min-height: 100vh;*/
    position: relative;
    /*display: grid;*/
    /*grid-template-columns: repeat(2, 1fr);*/
    justify-content: center;
    /*align-items: center;*/
    padding-inline: 150px;
    padding-top: 100px;
    padding-bottom: 50px;
    gap: 4rem;
    background-color: var(--color-light);
    color: var(--color-dark);
}
.second-text {
    /*padding-top: 2rem;*/
/*padding-top: 40px;*/
}
.main-second-text {
    text-align: center;
    font-weight: 700;
}
.swiper{
    /*padding-inline: 273px;
    width: 100%;
    height: auto;*/
    width: 67%;
    height: auto;
}
.mySwiper{
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*--- Слайдер під фото ---*/
.swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*--- Зображення ---*/
.swiper-slide img{
    /*width: 80%;*/
    /*object-fit: cover;*/
    width: 100%; /* Ширина будет равна ширине слайда */
    height: 100%; /* Высота будет равна высоте слайда */
    object-fit: cover; /* Масштабирование изображения так, чтобы оно полностью заполняло свой контейнер без искажений */
    object-position: right bottom; /* Положение изображения - справа внизу */
    /*padding-bottom: 2%;*/
    /*margin-bottom: 0px;*/
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
    align-items: center;
    right: 140px !important;
    left: auto;
    transform: translate(50%, 200%);
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: 140px !important;
    right: auto;
    transform: translate(50%, 200%);
}
/*--- Відображення кількості зображень ---*/
.swiper-pagination-bullet {
    width: 8px; /* Установите нужную ширину */
    height: 8px; /* Установите нужную высоту */
}
.footer {
    width: 100%;
    height: 50px;
    /*position: absolute;*/
    background-color: var(--color-dark);
    padding-inline: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text {
    display: flex;
    /*justify-content: flex-end;*/
    align-items: center;
}
.footer-rights {
    /*font-size: 16px;*/
    /*font-weight: 500;*/
}
.footer-menu-icons-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
}
.footer-menu-item{
    display: inline-flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.footer-menu-item img {
    width: 24px;
    height: 24px;
}
/*---Настільні комп'ютери та ноутбуки---*/
@media (max-width: 1280px){
    .swiper{
        /*padding-inline: 273px;
        width: 100%;
        height: auto;*/
        width: 100%;
        height: auto;
    }
}
/*---Планшети (альбомна орієнтація)---*/
@media (max-width: 1024px) {
    .header {
        flex-wrap: wrap;
        row-gap: 10px;
        padding-inline: 50px;
    }
    .header-menu-list {
        column-gap: 34px;
    }
  /*  .section-main-text {
        width: 444px;
        height: 255px;
        border-radius: 18px;
    }*/
    .section-main-first-text{
        padding-inline: 8px;
    }
    .second{
        padding-inline: 15px;
    }
    /*.section-main-second-text {
        padding-inline: 8px;
        padding-top: 18px;
        line-height: 20px;
        font-size: 12px;
    }*/
    .swiper-slide {
        padding-inline: 35px;
    }
    .footer{
        padding-inline: 50px;
    }
    .footer-text{
        justify-content: unset;
    }
    /*.footer-rights{
        font-size: 12px;
    }*/
    /*.footer-menu-item img {*/
    /*    width: 14px;*/
    /*    height: 14px;*/
    /*}*/
}
/*---Планшети (альбомна орієнтація)---*/
@media (max-width: 768px) {
    .header {
    flex-wrap: wrap;
    row-gap: 10px;
    padding-top: 18px;
    padding-inline: 15px;
}
    .header-menu {
        order: 1;
        flex-basis: 100%;
    }
    .header-menu-list {
        column-gap: 54px;
        justify-content: center;
    }
    .header-menu-link {
        height: 50px;
        color: var(--color-dark);
    }
    .header-menu-link:hover {
        border-bottom: 2px solid var(--color-dark);
    }
    .button {
        padding-inline: 9px;
        font-size: 16px;
    }
    .section-main-text {
        /*width: 444px;*/
        /*height: 255px;*/
        /*border-radius: 18px;*/
        display: flex;
        justify-content: center; /* Выравнивание по горизонтали */
        align-items: center; /
    }
    .section-main-first-text{
        padding-top: 0px;
        padding-inline: 8px;
        /*line-height: 43.5px;*/
        /*font-size: 37px;*/
    }
    .section-main-second-text {
        /*padding-inline: 9px;*/
        /*padding-top: 25px;*/
        /*line-height: 20px;*/
        /*font-size: 9px;*/
        display: none;
    }
    .main-second-text{
        font-size: 24px;
    }
    .swiper-slide {
        padding-inline: 0px;
    }
    .footer{
        padding-inline: 15px;
    }
}
/*---Мобільні пристрої (альбомна орієнтація)---*/
@media (max-width: 667px) {
    .header-menu-list {
        column-gap: 44px;
    }
    .header-menu-link {
        height: 40px;
        font-size: 14px;
        color: var(--color-dark);
    }
   /* .button {
        padding-inline: 9px;
        font-size: 14px;
        width: 100px;
    }*/
    .section-main-text {
        /*width: 310.8px;*/
        /*height: 178.5px;*/
        /*border-radius: var(--border-radius);*/
        height: 160px;
        display: flex;
        justify-content: center; /* Выравнивание по горизонтали */
        align-items: center; /
    }
    .section-first{
        padding-top: 100px;
    }
    .section-main-first-text{
        align-items: center;
        justify-content: unset;
        padding-inline: 9px;
        /*line-height: 28px;*/
        /*font-size: 26px;*/
    }
    .second{
        height: 750px;
    }
    .swiper{
        width: 80%;
    }
    /*.section-first-button{
        padding-top: 0px;
        width: 158.2px;
        height: 48.3px;
        font-size: 14px;
        border-radius: 9.8px;
    }*/
    .main-second-text {
        padding-top: 0px;
        font-size: 24px;
    }
 /*   .footer-rights {
        font-size: 9px;
    }*/
}
/*--- Мобільні пристрої (портретна орієнтація) ---*/
@media (max-width: 375px) {
    .header-menu-list {
        column-gap: 44px;
    }
    .header-menu-link {
        height: 40px;
        font-size: 14px;
        color: var(--color-dark);
    }
    /*.button {
        padding-inline: 9px;
        font-size: 14px;
        width: 100px;
    }*/
    .section-first{
        padding-inline: 9px;
        /*padding-top: 120px;*/
    }
    .section-main-text {
        /*width: 310.8px;*/
        /*height: 178.5px;*/
        /*border-radius: var(--border-radius);*/
        display: flex;
        justify-content: center; /* Выравнивание по горизонтали */
        align-items: center; /
    }
    .section-main-first-text{
        align-items: center;
        justify-content: unset;
        padding-inline: 9px;
        /*line-height: 28px;*/
        /*font-size: 26px;*/
    }
    .section-main-second-text {
        padding-inline: 9px;
        padding-top: 15px;
        line-height: 15px;
        font-size: 6px;
    }
    /*.section-first-button{
        padding-top: 0px;
        width: 226px;
        height: 69px;
        font-size: 20px;
        border-radius: 9.8px;
    }*/
    .main-second-text {
        font-size: 36px;
    }
    /*.footer-menu-item img {
        width: 18px;
        height: 18px;
    }*/
    .swiper{
        width: 100%;
    }
    .footer-rights {
        font-size: 12px;
    }
}
